
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    --cor-principal: #e2b5dc;
    --cor-secundaria: #61023d;
    --cor-fundo: #f5f5f5;
    --cor-texto: #61023d;
    --cor-branca: #fff;
}

.modo-escuro {
    --cor-principal: #1a1a1a;
    --cor-secundaria: #e2b5dc;
    --cor-fundo: #121212;
    --cor-texto: #ffffff;
    --cor-branca: #242424;
}



body{
    font-family: Arial, Helvetica, sans-serif;
    background: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 1.6;
}



header{
    background: var(--cor-principal);
    color: var(--cor-branca);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 40px 20px;
    text-align: center;
}

header img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;

    border:3px dotted white;

    margin-bottom:20px;
}

header h1{
    margin-bottom:10px;
    font-size:40px;
    transition:0.3s ease;
}

header h1:hover{
    color: var(--cor-texto);
    transform:scale(1.05);
}

header p{
    font-size:18px;
    transition:0.3s ease;
}

header p:hover{
    color:var(--cor-texto);
}

img{
    
}


main{
    width: 80%;
    max-width: 900px;
    margin:40px auto;

    display:flex;
    flex-direction:column;
    gap:30px;
}

section {
    background: var(--cor-branca);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
}

section h2{
    color:var(--cor-secundaria);
    margin-bottom:20px;
}


ul{
    list-style:square;
    padding-left:25px;
}



.lista-hobbies{
    list-style: none;
    padding: 0;
}

.lista-hobbies li{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.lista-hobbies li img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}



footer{
    text-align:center;
    padding:30px;
}

footer a{
    background:var(--cor-secundaria);
    color:white;
    text-decoration:none;

    padding:15px 30px;
    border-radius:8px;

    transition:.3s;
}




@media(max-width:768px){

    main{
        width:95%;
    }

    header img{
        width:140px;
        height:140px;
    }

    header h1{
        font-size:1.8rem;
    }

    section{
        padding:20px;
    }

}

#modoescuro {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}
